# This workflow will retrieve the default keybindings JSON of latest stable version of VS Code across different OSs

name: Get Default Keybindings

on:
  schedule:
    # weekly
    - cron: '38 16 * * 6'
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  get-default-keybindings:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [14.x]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - name: Run get-default-keybindings (Linux)
      run: xvfb-run -a npm run get-default-keybindings
      if: runner.os == 'Linux'
    - name: Run get-default-keybindings (macOS)
      run: |
        node generator/_patch_for_ci_on_macos.js
        npm run get-default-keybindings
      if: runner.os == 'macOS'
    - name: Run get-default-keybindings (Windows)
      run: npm run get-default-keybindings
      if: runner.os == 'Windows'
    - name: Upload the output file
      uses: actions/upload-artifact@v2
      with:
        name: default-keybindings-${{ matrix.os }}
        path: default-keybindings-*.json

  check-for-diff:
    needs: get-default-keybindings

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download three JSON files
        uses: actions/download-artifact@v2
      - name: Copy JSON files
        shell: bash
        run: |
          cp default-keybindings-ubuntu-latest/default-keybindings-linux.json generator/
          cp default-keybindings-macos-latest/default-keybindings-mac.json generator/
          cp default-keybindings-windows-latest/default-keybindings-win.json generator/
      - name: Generate wrapper
        run: npm run gen-wrapper
      - name: Check for the diff
        id: diff
        shell: bash
        run: |
          git diff --exit-code && echo "::set-output name=has-diff::false" || echo "::set-output name=has-diff::true"
      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      - if: steps.diff.outputs.has-diff == 'true'
        run: |
          echo "has diff!"
          git status
          git branch
          git checkout ${{ steps.extract_branch.outputs.branch }}
          git checkout -b update-default-keybindings
          git add generator package.json
          git commit -m "Update default keybindings and wrappers"
          git status
          echo "made a commit successfully"
