# This workflow will retrieve the default keybindings JSON of latest stable version of VS Code across different OSs

name: Get Default Keybindings

on:
  schedule:
    # weekly
    - cron: '38 16 * * 6'

jobs:
  get-default-keybindings:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [14.x]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - name: Run get-default-keybindings (Linux)
      run: xvfb-run -a npm run get-default-keybindings
      if: runner.os == 'Linux'
    - name: Run get-default-keybindings (macOS)
      run: |
        node generator/_patch_for_ci_on_macos.js
        npm run get-default-keybindings
      if: runner.os == 'macOS'
    - name: Run get-default-keybindings (Windows)
      run: npm run get-default-keybindings
      if: runner.os == 'Windows'
    - name: Upload the output file
      uses: actions/upload-artifact@v2
      with:
        name: default-keybindings-${{ matrix.os }}
        path: default-keybindings.json
